    body {
        background-color: #434d82;
    }
    .container{
        display: flex;
        justify-content: center;
    }

    #qr-reader {
        width: 700px; 
        border: 6px solid #111111 !important;

    }

    #qr-reader > div:nth-child(1) {
      /* font-size: 20px; */
      font-size: 24px;
    }
 

    #qr-reader div span a {
      visibility: hidden;
    }

    #qr-reader__dashboard_section_swaplink {
      visibility: hidden;
    }

    #qr-reader__status_span {
      visibility: hidden;
    }

    .qr-reader__dashboard_section_csr div button {
      visibility: hidden;
    }

/* En línea #2 | https://fbcf96fce18c.ngrok.io/ */

button, input, select {
  font-size: 20px;
}

    
/* En línea #2 | https://fbcf96fce18c.ngrok.io/ */

#qr-reader__dashboard_section_csr span {
  font-size: 20px;
  font-family: arial;
}


